{
  "database": "data/fakie.db",
  "base_url": "http://demo.crowi.wiki",
  "mongodb": {
    "host": "localhost",
    "port": 27018,
    "user": "username",
    "password": "password",
    "name": "wiki"
  }
}
